.balance {
  font-size: 17px;
  text-align: center;
}

.taba {
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  padding-left: 40px;
  font-size: 30px;
}

.subscription-customer {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  height: 105px;
}

/*subscription*/
.subscription {
  background: #f1f1f1;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
}

.subscription img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

.picture {
  padding-top: 5px ;
  flex: 10%;
  height: 30px;
  width: 100%;
}

.text {
  flex: 50%;
  font-size: 20px;
  padding-top: 10px;
}

.button {
  text-align: right;
  padding-top: 25px;
  padding-right: 15px;
  flex: 10%;
}

.personalInf {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  /*margin-top: 50px;*/
  margin: 50px auto;
  /*margin-left: 90px;*/
  /*margin-bottom: 90px;*/
  padding: 10px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.wallet {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.replenish {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.pagin {
  margin-bottom: 20px;
  text-align: center;
}

.attention {
  color: red;
}

.blocked-status {
  background-color: lightpink;
  border-radius: 12px;
  color: black;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}
