<div class="form-row">
  <div class="form-group col-md-2">
    <div class="title">
      My page &nbsp; &nbsp; &nbsp;
    </div>
  </div>
  <div class="form-group col-md-8">
    <div *ngIf="debtFlag$  | async" class="blocked-status">
      Your account was blocked, because you have a debt of {{customer.wallet.debt}}$
    </div>
  </div>
  <div class="form-group col-md-2">
    <div class="balance">
      <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(2)">
        <div *ngIf="!(balanceFlag$  | async)">
          <h4>balance: 0$</h4>
        </div>
        <div *ngIf="balanceFlag$  | async">
          <h4>balance: {{customer?.wallet?.balance}}$</h4>
        </div>
      </button>
    </div>
  </div>
</div>
<div>
<div class="taba">
    <tabset #staticTabs>
      <tab heading="My subscriptions">
        <div *ngIf="subscriptionFlag$  | async">
          <div *ngFor="let subscription of customerSubscriptions">
            <div class="subscription-customer">
              <div class="subscription">
                <div class="picture">
                  <img src="api/files/{{subscription?.product.image}}">
                </div>
                <div class="text">
                  {{subscription?.product.productName}}
                  <br>
                  every month cost: {{subscription?.product.cost}}$
                  <br>
                  <div class="attention" *ngIf="subscription?.isActive == 0 && subscription.product.isActive == 1">
                    Subscription was blocked by administration, because you don't have enough money.
                  </div>
                  <div class="attention" *ngIf="subscription?.isActive == 0 && subscription.product.isActive == 0">
                    Attention, product was blocked by administration. Fee for that subscription isn't got.
                  </div>
                </div>
                <div class="button">
                  <a routerLink="/catalog/product/{{subscription?.product.id}}">
                    <button type="button" class="btn btn-info">Read more</button>
                  </a>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <button type="button" class="btn btn-danger"
                          (click)="unsubscribe(subscription)">Unsubscribe
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="paginationFlag$  | async">
            <div class="col-xs-12 col-12">
              <div class="pagin">
                <pagination [totalItems]="totalElements" [itemsPerPage]="5" (pageChanged)="loadSubscriptionsPage(pagination)"
                            #pagination></pagination>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!(subscriptionFlag$  | async)">
          <p align="center">
          <h3>You don't have any subscriptions</h3>
        </div>
      </tab>

      <!--Personal information -->
      <tab heading="Personal information">

        <!--Show personal information -->
        <div class="personalInf" *ngIf="!personalInfFlag">
          <div class="form-row">
            <div class="form-group">
              <label for="email4">Email</label>
              <input type="email" class="form-control" id="email4" placeholder="{{customer?.email}}" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="{{customer?.name}}" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="{{customer?.surname}}" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>Age</label>
              <input type="text" class="form-control" id="age" placeholder="{{customer?.age}}" readonly>
            </div>
          </div>
          <button class="btn btn-primary" (click)="editPersonalInf()">Edit</button>
        </div>

        <!--edit personalInf-->
        <div class="personalInf" *ngIf="personalInfFlag">
          <form [formGroup]="myForm">
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="{{customer?.email}}"
                       readonly>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password"
                       formControlName="password" name="inputPassword" #password>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
                  Incorrect password
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCustomer['password'] != undefined">
                  {{errorsMapCustomer['password']}}
                </div>
                <small id="passwordHelp" class="form-text text-muted">Password should contain at least 8 characters.
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password"
                       formControlName="repeatPassword" name="repeatPassword" #repeatPassword>
                <div class="alert alert-danger"
                     *ngIf="password.value!=repeatPassword.value && myForm.controls['repeatPassword'].touched">
                  Passwords don't match
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Mike"
                       formControlName="userName"
                       name="userName" #name>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
                  Incorrect name
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCustomer['name'] != undefined">
                  {{errorsMapCustomer['name']}}
                </div>
              </div>
              <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Smith"
                       formControlName="userSurname"
                       name="userSurname" #surname>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['userSurname'].invalid && myForm.controls['userSurname'].touched">
                  Incorrect last name
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCustomer['surname'] != undefined">
                  {{errorsMapCustomer['surname']}}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Age</label>
                <select id="inputAge" class="form-control" #age>
                  <option *ngFor="let age of ageArray">{{age}}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary" [disabled]="myForm.invalid" (click)="updatePersonalInf(password.value,
      name.value, surname.value, age.value)">Save
            </button>
          </form>
        </div>
      </tab>

      <!--waller-->
      <tab heading="My wallet">

        <!--create walletByIdWallet -->
        <div *ngIf="walletFlag == false">
          <div class="wallet">
            <p align="center">
              Please, add you payment card</p>
            <form [formGroup]="walletForm">
              <div class="form-row">
                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <input [textMask]="{mask: numberMask}" [(ngModel)]="myNumber" type="text" class="form-control"
                         formControlName="cardNumber"
                         id="cardNumber" #cardNumber>
                  <div class="alert alert-danger"
                       *ngIf="walletForm.controls['cardNumber'].invalid && walletForm.controls['cardNumber'].touched">
                    Incorrect card number
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="errorsMapWallet && errorsMapWallet['cardNumber'] != undefined">
                    {{errorsMapWallet['cardNumber']}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="cardDate">Expiration date</label>
                  <input [textMask]="{mask: dateMask}" [(ngModel)]="myDate" type="text" class="form-control"
                         placeholder="MM/YY"
                         formControlName="cardDate"
                         id="cardDate" #cardDate>
                  <div class="alert alert-danger"
                       *ngIf="walletForm.controls['cardDate'].invalid && walletForm.controls['cardDate'].touched">
                    Incorrect card date
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="errorsMapWallet && errorsMapWallet['cardDate'] != undefined">
                    {{errorsMapWallet['cardDate']}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="cardCvv">CVV Number</label>
                  <input [textMask]="{mask: cvvMask}" [(ngModel)]="myCvv" type="text" class="form-control"
                         formControlName="cardCvv"
                         id="cardCvv" #cardCvv>
                  <div class="alert alert-danger"
                       *ngIf="walletForm.controls['cardCvv'].invalid && walletForm.controls['cardCvv'].touched">
                    Incorrect CVV Number
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="errorsMapWallet && errorsMapWallet['cardCvvCode'] != undefined">
                    {{errorsMapWallet['cardCvvCode']}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="cardHolderName">Holder name</label>
                  <input type="text" class="form-control"
                         formControlName="cardHolderName"
                         id="cardHolderName" #cardHolderName>
                  <div class="alert alert-danger"
                       *ngIf="walletForm.controls['cardHolderName'].invalid && walletForm.controls['cardHolderName'].touched">
                    Incorrect card holder name
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="errorsMapWallet && errorsMapWallet['personName'] != undefined">
                    {{errorsMapWallet['personName']}}
                  </div>
                  <small class="form-text text-muted">In capital letters</small>
                </div>
              </div>
              <button class="btn btn-success" [disabled]="walletForm.invalid" (click)="saveWallet(cardNumber.value,
      cardDate.value, cardCvv.value, cardHolderName.value)">Save
              </button>
            </form>
          </div>
        </div>

        <!--replenish walletByIdWallet -->
        <div *ngIf="walletFlag == true">
          <div class="subscription-customer">
            <div class="subscription">
              <div class="picture">
                <img src="../../../../../assets/footer-photos/Credit-cards.jpg">
              </div>
              <div class="text">
                <b>Your payment card</b>
                <br>
                Card number: {{hiddenCardNumber}}
                <br>
                Expiration date: {{cardDateString}}
              </div>
              <div class="button">
                <button type="button" class="btn btn-danger"
                        (click)="deleteCard()">Delete card
                </button>
              </div>
            </div>
          </div>
          <div class="replenish">
            <p align="center">
              Replenish balance
            </p>
            <div class="alert alert-success"
                 *ngIf="replenishFlag == true">
              Balance was replenished
              <br>
              <button type="button" class="btn btn-success" (click)="changeReplenishFlag()">Got it</button>
            </div>
            <form [formGroup]="replenishForm">
              <div class="form-row">
                <div class="form-group">
                  <label for="number">Enter recharge amount</label>
                  <input type="text" class="form-control"
                         formControlName="number"
                         id="number" #number> $
                  <div class="alert alert-danger"
                       *ngIf="replenishForm.controls['number'].invalid  && replenishForm.controls['number'].touched">
                    Incorrect number
                  </div>
                  <div class="alert alert-danger"
                       *ngIf="errorsMapReplenishWallet['balance'] != undefined">
                    {{errorsMapReplenishWallet['balance']}}
                  </div>
                </div>
              </div>
              <button class="btn btn-success" [disabled]="replenishForm.invalid || replenishFlag == true"
                      (click)="replenishCard(number.value)">
                Replenish
              </button>
            </form>
          </div>
        </div>
      </tab>


    </tabset>
    <!--<input [textMask]="{mask: mask}" [(ngModel)]="myModel" type="text"/>-->
    <!--<input [textMask]="{mask: dateMask}" [(ngModel)]="myModel" type="text"/>-->
</div>
</div>
