<div class="background">
  <div class="row">
    <div class="side">
      <div>
        <form [formGroup]="searchForm">
          <div class="form-row">
            <div class="form-group">
              <input type="text" class="form-control" id="searchQueryByName" placeholder="Search in catalog by name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <input type="text" class="form-control" id="searchQueryByCompany"
                     placeholder="Search in catalog by company">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="minPrice">Min price</label>
              <input type="text" class="form-control" id="minPrice" placeholder="min">
            </div>
            <div class="form-group col-md-6">
              <label for="maxPrice">Max price</label>
              <input type="text" class="form-control" id="maxPrice" placeholder="max">
            </div>
          </div>
          <!--<div class="col-xs-12 col-12 col-md-4 form-group">-->
          <!--<input type="text"-->
          <!--placeholder="Daterangepicker"-->
          <!--class="form-control"-->
          <!--bsDaterangepicker-->
          <!--[bsConfig]="{ adaptivePosition: true }">-->
          <!--</div>-->
          <div class="form-row">
            <div class="form-group">
              <label>Type</label>
              <select id="inputType" class="form-control" #type>
                <option *ngFor="let type of typeArray">{{type.typeName}}</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
          <!--<div class="form-row">-->
          <!--<div class="form-group">-->
          <!--<label>ProductModel name</label>-->
          <!--<input type="text" formControlName="productName"-->
          <!--name="productName" #productName>-->
          <!--<div class="alert alert-danger"-->
          <!--*ngIf="searchForm.controls['productName'].invalid && searchForm.controls['productName'].touched">-->
          <!--Incorrect product name-->
          <!--</div>-->
          <!--</div>-->
        </form>
      </div>
    </div>
    <div class="main">
      <div class="flex-container">
        <div *ngFor="let product of products">
          <app-catalog-product [product]="product"></app-catalog-product>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-12">
          <div class="pagin">
            <pagination [totalItems]="totalProducts"  [itemsPerPage]="2" (pageChanged)="loadNewPageProduct(pagination)" #pagination></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
