.background {
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.emptySearch {
  text-align: center;
  padding-top: 30px;
  padding-left: 410px;
  font-size: 30px;
}

.side {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #f1f1f1;
  padding: 20px 30px 30px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  min-width: 320px;
  width: 20%;
}

.main {
  background-color: white;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  border: 1px solid black;
  background: white;
  border-radius: 12px;
  width: 21%;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  word-break: break-word;
  max-height: 360px;
  min-width: 250px;
}

.flex-container > div:hover {
  background: #f1f1f1;
}

.pagin {
  padding-left: 420px;
}

.search {
  text-align: center;
}

.wrapper {
  position: absolute;
  min-height: 90.3%;
}

.content {
  padding-bottom: 90px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 1518px;
  height: 80px;
}
