.check_out {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  margin: 150px auto;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.background {
  background-image: url("../Cockburn-Ranges-Western-Australia_Jan-Glovac.jpg");
  height: 790px;
}
