/*.catalog{*/
  /*background: #C3C3C3;*/
/*}*/
.catalog {
  text-align: center;
}
.catalog a{
  color: black;
  text-decoration: none;
}

.catalog img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


