<div class="form-row">
  <div class="form-group col-md-12">
    <div class="title">
      Admin page
    </div>
  </div>
  <!--<div class="form-group col-md-2">-->
  <!--<div class="balance">-->
  <!--<button type="button" class="btn btn-primary btn-sm" (click)="selectTab(3)">-->
  <!--<div *ngIf="customer?.walletByIdWallet == null"><h4>balance: 0$</h4></div>-->
  <!--<div *ngIf="customer?.walletByIdWallet != null"><h4>balance: {{customer?.walletByIdWallet.balance}}$</h4></div>-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
</div>
<div class="taba">
  <div>
    <tabset #staticTabs>

      <!--All products -->
      <tab heading="All products">
        <div *ngIf="products.length != 0">
          <div *ngFor="let product of products">
            <div class="subscription-all">
              <div class="subscription">
                <div class="picture">
                  <img src="api/files/{{product?.image}}">
                </div>
                <div class="text">
                  {{product?.productName}}
                  <br>
                  every month cost: {{product?.cost}}$
                  <br>
                  <div class="activeStatus" *ngIf="product.isActive == 1">
                    status: active
                  </div>
                  <div class="blocked" *ngIf="product.isActive == 0">
                    status: blocked
                  </div>
                </div>
                <div class="button">
                  <a routerLink="/catalog/product/{{product?.id}}">
                    <button type="button" class="btn btn-info">Read more</button>
                  </a>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <button *ngIf="product.isActive == 1" type="button" class="btn btn-danger"
                          (click)="blockOrUnblockProduct(product, 0)">Block
                  </button>
                  <button *ngIf="product.isActive == 0" type="button" class="btn btn-danger"
                          (click)="blockOrUnblockProduct(product, 1)">Unblock
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="productPaginationFlag$  | async">
          <div class="col-xs-12 col-12">
            <div class="pagin">
              <pagination [totalItems]="totalProducts" [itemsPerPage]="5" (pageChanged)="loadProductPage(pagination)"
                          #pagination></pagination>
            </div>
          </div>
        </div>
        <div *ngIf="products.length == 0">
          <p align="center">
          <h3>The list of products is empty</h3>
        </div>
      </tab>

      <!--All companies-->
      <tab heading="All companies">
        <div *ngIf="companyModel.length == 0">
          <p align="center">
          <h3>The list of companies is empty</h3>
        </div>
        <div *ngIf="companyModel.length != 0">
          <div *ngFor="let company of companyModel">
            <div class="company-customer">
              <div class="company-customer-text">
                {{company.name}}
              </div>
            </div>
            <div class="company-customer-button">
              <button *ngIf="company.isActive == 1" type="button" class="btn btn-danger"
                      (click)="blockOrUnblockCompany(company, 0)">Block
              </button>
              <button *ngIf="company.isActive == 0" type="button" class="btn btn-danger"
                      (click)="blockOrUnblockCompany(company, 1)">Unblock
              </button>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="All customers">
        <div *ngIf="customerModel.length == 0">
          <p align="center">
          <h3>The list of customers is empty</h3>
        </div>
        <div *ngIf="customerModel.length != 0">
          <div *ngFor="let customer of customerModel">
            <div class="company-customer">
              <div class="company-customer-text">
                {{customer.surname}} {{customer.name}}
                <br>
                Age: {{customer.age}}
              </div>
            </div>
            <div class="company-customer-button">
              <button *ngIf="customer.isActive == 1" type="button" class="btn btn-danger"
                      (click)="blockOrUnblockCustomer(customer, 0)">Block
              </button>
              <button *ngIf="customer.isActive == 0" type="button" class="btn btn-danger"
                      (click)="blockOrUnblockCustomer(customer, 1)">Unblock
              </button>
            </div>
          </div>
        </div>
      </tab>

      <!-- Create company account-->
      <tab heading="Create a company account">
        <div class="company-account">
          <form [formGroup]="myForm">
            <div class="alert alert-success"
                 *ngIf="companyCreatedFlag == true">
              Account was created
              <br>
              <button type="button" class="btn btn-success" (click)="changeCompanyCreatedFlag()">Got it</button>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4"
                       formControlName="email" placeholder="Email" #email>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                  Incorrect email
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCompany['email'] != undefined">
                  {{errorsMapCompany['email']}}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password"
                       formControlName="password" name="inputPassword" #password>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
                  Incorrect password
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCompany['password'] != undefined">
                  {{errorsMapCompany['password']}}
                </div>
                <small id="passwordHelp" class="form-text text-muted">Password should contain at least 8 characters.
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password"
                       formControlName="repeatPassword" name="repeatPassword" #repeatPassword>
                <div class="alert alert-danger"
                     *ngIf="password.value!=repeatPassword.value && myForm.controls['repeatPassword'].touched">
                  Passwords don't match
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Company name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Company name"
                       formControlName="companyName"
                       name="companyName" #companyName>
                <div class="alert alert-danger"
                     *ngIf="myForm.controls['companyName'].invalid && myForm.controls['companyName'].touched">
                  Incorrect company name
                </div>
                <div class="alert alert-danger"
                     *ngIf="errorsMapCompany['name'] != undefined">
                  {{errorsMapCompany['name']}}
                </div>
              </div>
            </div>
            <button class="btn btn-primary" [disabled]="myForm.invalid" (click)="createCompanyAccount(email.value, password.value,
      companyName.value)">Create
            </button>
          </form>
        </div>
      </tab>


    </tabset>
    <!--<input [textMask]="{mask: mask}" [(ngModel)]="myModel" type="text"/>-->
    <!--<input [textMask]="{mask: dateMask}" [(ngModel)]="myModel" type="text"/>-->
  </div>
</div>
