.taba {
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  padding-left: 40px;
  font-size: 30px;
}

.subscription-all {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
}

/*subscription*/
.subscription {
  background: #f1f1f1;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
}

.subscription img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 83px;
}

.picture {
  flex: 10%;
}

.text {
  flex: 50%;
  font-size: 20px;
  padding-top: 1px;
  color: black;
}

.button {
  text-align: right;
  padding-top: 25px;
  padding-right: 15px;
  flex: 10%;
}

.company-customer-all {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
}

.company-customer {
  background: #f1f1f1;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
}

.company-customer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 83px;
}

.company-text {
  flex: 50%;
  font-size: 20px;
  padding-top: 15px;
}

.customer-text {
  flex: 50%;
  font-size: 20px;
  padding-top: 1px;
  padding-left: 30px;
}

.company-customer-button {
  text-align: right;
  padding-top: 25px;
  padding-right: 12px;
  flex: 10%;
}

.company-account {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.pagin {
  margin-bottom: 20px;
  text-align: center;
}

.activeStatus {
  color: green;
}

.blocked {
  color: red;
}
