<div class="wrapper">
  <div class="content">
  <div class="row">
    <div class="side">
      <div class="flex-container">
        <div class="catalog" *ngIf="product">
          <img src="api/files/{{product?.image}}">
        </div>
      </div>
    </div>
    <div class="main">
      <p class="productName">
        {{product?.productName}}
      </p>
      <div class="block">
        {{product?.description}}
        <br>
        <br>
        <b>Developed by:</b> {{product?.companyName}}
        <br>
        <b>Realised date:</b> {{formatDate}}
        <br>
      </div>
      <div class="block-cost">
        <b>Every month cost:</b> {{product?.cost}}$ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button *ngIf="company == null && admin == null && !(subject$ | async)" type="button" class="btn btn-primary" (click)="subscribe()">Subscribe</button>
        <div class="alert alert-danger"
             *ngIf="errors && errors['balance'] != undefined">
          {{errors['balance']}}
        </div>
        <div class="alert alert-danger"
             *ngIf="blockedCustomer$ | async">
          Your account was blocked. To know more visit your profile page
        </div>
        <button *ngIf="subject$ | async" type="button" class="btn btn-danger" (click)="unsubscribe()">Unsubscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
</div>
