.row {
  display: flex;
  flex-direction: row;
}

.side {
  margin-top: 60px;
  margin-left: 50px;
  background-color: #f1f1f1;
  padding: 30px;
  height: 360px;
  border-radius: 15px;
  display: flex;
  width: 400px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.catalog img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  height: 300px;
}

.block {
  margin: 15px 70px 25px 70px;
  padding: 10px;
  line-height: 1.5;
  background: #f9f9f9;
  border-left: 9px solid #ccc;
  font-size: 20px;
  text-aling: justify;
}

.block-cost {
  margin: 15px 70px 25px 70px;
  padding: 10px;
  line-height: 1.5;
  background: #f8ffe0;
  border-left: 9px solid greenyellow;
  font-size: 20px;
  text-aling: justify;
}

.productName {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.wrapper {
  position: absolute;
  min-height: 90%;
  width: 100%;
}

.content {
  padding-bottom: 90px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
