<div class="background">
  <div class="check_out">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email"
               formControlName="userEmail" name="email" #email>
        <div class="alert alert-danger"
             *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
          Incorrect email
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
               formControlName="userPassword" name="password" #password>
        <small id="passwordHelp" class="form-text text-muted">Your password should contain at least 8 characters.</small>
        <div class="alert alert-danger"
             *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
          Incorrect password
        </div>
      </div>
      <div class="alert alert-danger"
           *ngIf="errorSignIn != undefined">
        {{errorSignIn}}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid"
              (click)="submit(email.value, password.value)">Submit
      </button>
    </form>
  </div>
</div>

