<div class="bottom1">
  <table>
    <tr>
      <td><a href="https://www.instagram.com/?hl=ru"><img src="../../../../assets/footer-photos/Instagram-Logo-500x500.png" height="70" alt="Inst"></a></td>
      <td><a href="https://www.facebook.com/"><img src="../../../../assets/footer-photos/logo-facebook.png" height="70" alt="Fasebook"></a></td>
      <td><a href="https://twitter.com/"><img src="../../../../assets/footer-photos/w256h2561350926681Twitter2.png" height="58" alt="Twitter"></a></td>
      <td><h1>|</h1></td>
      <td><a href="https://www.visa.com.ru/"><img src="../../../../assets/footer-photos/visa_logo.gif" height="55" alt="Visa"></a></td>
      <td><a href="https://www.paypal.com/ru/home"><img src="../../../../assets/footer-photos/paypal_logo_full_1510137413808.jpg" height="55" alt="PayPal"></a></td>
      <td><a href="https://www.mastercard.by/ru-by/consumers.html"><img src="../../../../assets/footer-photos/mastercard.png" height="55" alt="MasterCard"></a></td>
    </tr>
  </table>
</div>
<!--<hr>-->
<div class="bottom2">
  Created by art_vl
  <!--<table>-->
    <!--<tr>-->
      <!--<td><strong>ПОМОЩЬ И ИНФОРМАЦИЯ</strong></td>-->
      <!--<td><strong>ПОДРОБНЕЕ О SPORT</strong></td>-->
      <!--<td><strong>БОЛЬШЕ SPORT</strong></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="#top">Помощь</a></td>-->
      <!--<td><a href="О нас.html">О нас</a></td>-->
      <!--<td><a href="#top">Версия для мобильного и приложение SPORT</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="#top">Отследить заказ</a></td>-->
      <!--<td><a href="#top">Вакансии в SPORT</a></td>-->
      <!--<td><a href="#top">SPORT Marketplace</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="#top">Доставка и возвраты</a></td>-->
      <!--<td><a href="#top">Инвесторам</a></td>-->
      <!--<td>&nbsp;</td>-->
    <!--</tr>-->
  <!--</table>-->
</div>
