.bottom1 {
  background: #4f4f4f;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.5em;
}

.bottom1 a{
  color: white;
  text-decoration: none;
}

.bottom1 a:hover{
  color: gray;
  text-decoration: none;
}

.bottom2 {
  background: #4f4f4f;
  color:white;
  font-size: 17px;
  line-height: 1.5em;
  text-align: right;
  padding-right: 20px;
}
